$blue-1000: rgba(22, 101, 241, 1);
$blue-900: rgba(22, 101, 241, .9);
$blue-800: rgba(22, 101, 241, .8);
$blue-700: rgba(22, 101, 241, .7);
$blue-600: rgba(22, 101, 241, .6);
$blue-500: rgba(22, 101, 241, .5);
$blue-400: rgba(22, 101, 241, .4);
$blue-300: rgba(22, 101, 241, .3);
$blue-200: rgba(22, 101, 241, .2);
$blue-100: rgba(22, 101, 241, .1);


$dark-blue-1000: rgba(1,11,52, 1);
$dark-blue-900: rgba(1,11,52, .9);
$dark-blue-800: rgba(1,11,52, .8);
$dark-blue-700: rgba(1,11,52, .7);
$dark-blue-600: rgba(1,11,52, .6);
$dark-blue-500: rgba(1,11,52, .5);
$dark-blue-400: rgba(1,11,52, .4);
$dark-blue-300: rgba(1,11,52, .3);
$dark-blue-200: rgba(1,11,52, .2);
$dark-blue-100: rgba(1,11,52, .1);


$red-1000: rgba(190, 45, 66, 1);
$white-1000: rgba(255, 255, 255, 1);

$black-1000:rgba(51, 51, 51, 1);
$black-900:rgba(51, 51, 51, .9);
$black-800:rgba(51, 51, 51, .8);
$black-700:rgba(51, 51, 51, .7);
$black-600:rgba(51, 51, 51, .6);
$black-500:rgba(51, 51, 51, .5);
$black-400:rgba(51, 51, 51, .4);
$black-300:rgba(51, 51, 51, .3);
$black-200:rgba(51, 51, 51, .2);
$black-100:rgba(51, 51, 51, .1);

$dark-grey-1000: rgba(58, 63, 73, 1);

$gray-050: rgba(128, 128, 128, .05);