<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <div class="footer_phone">
                <p class="footer__phone-text">
                    Отдел продаж
                </p>
                <a class="footer__phone-link">
                    +7 932 235 03 78
                </a>
            </div>
            <p class="footer__info-text">
                Адрес: 454090, <br>
                г.Челябинск, просп. Ленина, дом 21В, <br>
                офис 032, цоколь
            </p>
        </div>
        <div class="footer__info">
            <div class="footer_phone">
                <p class="footer__phone-text">
                    Отдел продаж
                </p>
                <a class="footer__phone-link">
                    +7 932 235 03 78
                </a>
            </div>
            <p class="footer__info-text">
                График работы: <br>
                с 7.00 до 19.00 <br>
                без перерыва по московскому времени
            </p>
        </div>
    </div>
</footer>