<div class="home-page">
    <app-header></app-header>
    <main>
        <section class="home-page__info">
            <div class="home-page__container home-page__info-container">
                <h1 class="home-page__info-title">ПРОИЗВОДСТВО <br>ПОЛИЭТИЛЕНОВЫХ ТРУБ</h1>
                <div class="home-page__info-sub-title">ДЛЯ ВОДОСНАБЖЕНИЯ, ГАЗОСНАБЖЕНИЯ И КАНАЛИЗАЦИИ</div>
                <p class="home-page__info-text body-text">Наше производственное предприятие
      специализируется на
      производстве
      полиэтиленовых труб всех типов и размеров. Изготавливаем трубы нестандартных размеров
                </p>
            </div>
        </section>
        <section class="home-page__advantages">
            <div class="home-page__container grid">

                <div class="home-page__advantage grid__item-4 grid__item-lg-12">
                    <div class="home-page__advantage-icon home-page__advantage-icon--1">
    
                    </div>
                    <div class="home-page__advantage-content">
                        <div class="home-page__advantage-title">
                            ГЕОГРАФИЯ
                        </div>
                        <p class="home-page__advantage-text body-text">
                            Работаем по всей России и СНГ.
                            Помогаем
                            клиентам с логистикой.
                        </p>
                    </div>
                </div>
                <div class="home-page__advantage grid__item-4 grid__item-lg-12">
                    <div class="home-page__advantage-icon home-page__advantage-icon--2">
                        
                    </div>
                    <div class="home-page__advantage-content">
                        <div class="home-page__advantage-title">
                            СКОРОСТЬ
                        </div>
                        <p class="home-page__advantage-text body-text">
                            Производственные линии работают 24/7.
                        </p>
                    </div>
                </div>
                <div class="home-page__advantage grid__item-4 grid__item-lg-12">
                    <div class="home-page__advantage-icon home-page__advantage-icon--3">
                        
                    </div>
                    <div class="home-page__advantage-content">
                        <div class="home-page__advantage-title">
                            АССОРТИМЕНТ
                        </div>
                        <p class="home-page__advantage-text body-text">
                            Широкий ассортимент на складе в наличии.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-page__products home-page__container">
            <h2 class="home-page__products-title">
                МЫ ПРОИЗВОДИМ: 
            </h2>
            <div class="home-page__products-collection grid">
                <article class="home-page__product grid__item-6 grid__item-sm-12">
                    <img src="assets/images/hp-p-1.png" class="home-page__product-image">
                    <h3 class="home-page__product-title">
                        ТРУБЫ ДЛЯ ВОДОСНАБЖЕНИЯ
                    </h3>
                </article>
                <article class="home-page__product grid__item-6 grid__item-sm-12">
                    <img src="assets/images/hp-p-2.png" class="home-page__product-image">
                    <h3 class="home-page__product-title">
                        ТРУБЫ ДЛЯ ГАЗОСНАБЖЕНИЯ
                    </h3>
                </article>
                <article class="home-page__product grid__item-6 grid__item-sm-12">
                    <img src="assets/images/hp-p-3.png" class="home-page__product-image">
                    <h3 class="home-page__product-title">
                        ТРУБЫ ПРОЧИХ ИНЖЕНЕРНО-ТЕХНИЧЕСКИХ НАЗНАЧЕНИЙ
                    </h3>
                </article>
                <article class="home-page__product grid__item-6 grid__item-sm-12">
                    <img src="assets/images/hp-p-4.png" class="home-page__product-image">
                    <h3 class="home-page__product-title">
                        ФИТИНГИ ДЛЯ ПОЛИЭТИЛЕНОВЫХ ТРУБ
                    </h3>
                </article>
                <article class="home-page__product grid__item-6 grid__item-sm-12">
                    <img src="assets/images/hp-p-5.png" class="home-page__product-image">
                    <h3 class="home-page__product-title">
                        ТРУБЫ С ЗАЩИТНОЙ ОБОЛОЧКОЙ «ЭКСПОСЭЙФ»
                    </h3>
                </article>
            </div>
        </section>
        <section class="home-page__discount">
            <div class="home-page__container home-page__discount-container">
                <h3 class="home-page__discount-title">
                    ПОЛУЧИТЬ СКИДКУ ДО 10%
                </h3>
                <p class="home-page__discount-text">
                    Оформите заказ в первый день обращения и получите гарантированную скидку!
                </p>
                <form class="home-page__discount-form">
                    <input class="home-page__discount-form-input" placeholder="Ваше имя">
                    <input class="home-page__discount-form-input" placeholder="Телефон">
                    <button class="home-page__discount-form-button">ОТПРАВИТЬ</button>
                </form>
            </div>
        </section>
    </main>
    <app-footer></app-footer>
</div>
